/* Font :  */
@font-face {
  font-family: 'Aquatico';
  src:url('../../assets//fonts/aquatico/Aquatico.ttf.woff') format('woff'),
      url('../../assets//fonts/aquatico/Aquatico.ttf.svg#Aquatico') format('svg'),
      url('../../assets//fonts/aquatico/Aquatico.ttf.eot'),
      url('../../assets//fonts/aquatico/Aquatico.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  max-width: 1440px;
  margin: auto;
}
