.container__editoraddproduct {
    margin: auto;
    margin-top: 180px;
    margin-bottom: 40px;
    width: 800px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid #D6D8E7;
    padding: 40px;

    .editoraddproduct__header__icon {
        display: flex;
        margin-bottom: 20px;

        .header__icon__square {
            height: 48px;
            width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 186, 136, 1);
            border-radius: 10px;

            i {
                height: 20px;
                width: 20px;
                margin-top: 4px;
                margin-left: 4px;
                color: white;
            }
        }

        .header__icon__content {
            margin-left: 12px;
        }

            .header__icon__title {
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
            }

            .header__icon__subtitle {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }

    }

    form {
        .wrapper__headerform {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;

            .firstpart {
                width: 70%;
            } 
            .secondpart {
                margin-left: 20px;
            }
        }

        .form__group {

            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            label {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 8px;
                font-weight: 500;
            }

            input {

                min-height: 48px;
                padding: 14px 20px 14px 20px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                color: #14142B;
                border: 1.5px solid #D6D8E7;
                border-radius: 10px;

                &:focus-visible {
                    outline: none;
                }


            }

            .is-invalid {

                background-color: rgba(194, 1, 1, 0.103);
                border: 2px solid #ff0000d7;

                &:focus-visible {
                    border: 2px solid #f80202 !important;
                }

            }
            
            .invalid-feedback {

                color: red;

            }

            &__tags {
                display: flex;
                margin: 20px 0 0 0;
            }

        }
        .container__button {
            display: inline-block;
            cursor: pointer;

            .button__primereact {
                display: flex;
                padding: 14px 32px;
                font-size: 16px;
                background-color: rgba(0, 186, 136, 1);
                color: white;
                border-radius: 10px;
                border: none;
        
                &.button__primereact:hover {
                    outline: 1px solid rgba(0, 186, 136, 1);
                    color: rgba(0, 186, 136, 1);
                    background-color: white;
                    transition: 0.5s;
                }
        
                span:not(.p-button-label) {
                    margin-right: 20px;
                    margin-top: 3px;
                    font-weight: bold;
                    font-size: 12px;
                }
            }
        }
    }

}