.container__homepage {
    width: 1440px;
    padding: 34px 150px;
    margin: auto;
    margin-top: 96px;
    min-height: 50vh;

    .homepage__header {
        width: 100%;
        display: flex;
        align-items: center;

        .homepage__h2 {
            display: inline;
            font-size: 48px;
            margin-right: 66px;
        }
    }

    .homepage__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}